*{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    padding: .5rem 5rem;
    background-color: rgb(218, 81, 81);
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbarSupportedContent a{
    color: white;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid green;
}
#navbarSupportedContent button{
    width: 5rem;
}
ul a{
    text-decoration: none;
}
.btn{
    text-decoration: none;
}

.home-page{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(211, 136, 136);
}

.name{
    text-transform: uppercase;
    color: red;
    font-style: oblique;
    font-feature-settings: "blwf";
    letter-spacing: .2cm;
    margin-bottom: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.domain{
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    letter-spacing: 5px;
}
*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.about-page{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(211, 136, 136);
   
}

.skill_page{
    height: 100vh;
    background-size: cover;
}
.contact_page{
    background-image: url();
    height: 90vh;
    background-size: cover;
    overflow-x: hidden;
    overscroll-behavior-x: none;
}
.title_Head3{
    background-image: linear-gradient(to left,rgb(100, 163, 247),rgb(222, 185, 243));
    color: rgb(20, 109, 182);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title_Head4{
    background-image: linear-gradient(to left,rgb(121, 231, 178),rgb(149, 94, 181));
    color: rgb(214, 238, 3);
    border: 2px solid rgb(149, 94, 181);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
.title_Head4:hover{
    color: white !important;
}
.contact-page{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(211, 136, 136);
}
span{
    color: red;
}